/*Styles Page*/

/*
  ////////////////////////////////////////
  //
  // CGT 456 Project 3 Spring 2016
  //
  // Youngho Lee - lee1929@purdue.edu
  // Max Moffat - wmoffat@purdue.edu
  // Ben Lamb - lambb@purdue.edu
  // Keith Cercone - kdcercone@gmail.com
  //
  ////////////////////////////////////////
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default:hover{
  opacity: .8;
}


html,
body {
  height: 100%;
  background-image: url(images/Engineering%20Fountain%202.jpg);
  background-size:cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  background-color: rgba(43,43,43,.8);
  margin-bottom: 40px;
  
  border-radius: 30px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: #FFD100;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

#login{
  font-size: 24pt;
  color:royal-blue;
}

/* Overlay when Modal is open */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
} 
 
.centeredText  {
    text-align:  center;
     margin:  20px 0;
     clear:  both;
     overflow:  hidden;
     text-transform:  uppercase;
}
 
 
.action_btns  {
    clear: both;
     overflow:  hidden;
}
 
.action_btns a  {
    display:  block;
}

.user_login  {
    display:  none;
}
 
.user_login label  {
    display:  block;
     margin-bottom: 5px;
}
 
.user_login input[type="text"],  .user_login input[type="email"],  .user_login input[type="password"]  {
    display:  block;
     width: 90%;
     padding:  10px;
     border: 1px solid #DDD;
     color: #666;
}
 
.user_login input[type="checkbox"]  {
    float: left;
     margin-right: 5px;
}
 
.user_login input[type="checkbox"]+label  {
    float: left;
}
 
 
.user_login .checkbox  {
    margin-bottom:  10px;
     clear:  both;
     overflow:  hidden;
}
 
.forgot_password  {
    display: block;
     margin:  20px 0 10px;
     clear:  both;
     overflow:  hidden;
     text-decoration:  none;
     color: #ED6347;
}

/* User Register Form */
.user_register  {
    display:  none;
}
 
.user_register label  {
    display:  block;
     margin-bottom: 5px;
}
 
.user_register input[type="text"],  .user_register input[type="email"],  .user_register input[type="password"]  {
    display:  block;
     width: 90%;
     padding:  10px;
     border: 1px solid #DDD;
     color: #666;
}
 
.user_register input[type="checkbox"]  {
    float: left;
     margin-right: 5px;
}
 
.user_register input[type="checkbox"]+label  {
    float: left;
}
 
 
.user_register .checkbox  {
    margin-bottom:  10px;
     clear:  both;
     overflow:  hidden;
}

/*
.fb_iframe_widget iframe {
    opacity: 0;
    width: 0%;
    display: none;
    height: 0%;
    background-color: #4D4038;
    overflow: hidden;

}

.fb_iframe_widget {
    display: none;
    height: 0%;
    overflow: hidden;
    background-color: #4D4038;
}
*/
.img-circle{
  width:120px;
  height:120px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  margin-right:20px;
  margin-bottom:15px;
}

#team-list{
  font-size: 20pt;
}

#blogsubmit{
  font-size: 16pt;
  color:black;
  text-align:left;
}

#blogsubmit input{
  font-size:12pt;
  color:black;
  width:100%;
  height:100;
}

#viewblog{
  width:100%;
  height:100%;
  margin:auto;
}

.emails{
  font-size:14pt;
  font-style:italic;
}

.spacer{
	height: 20px;	
}